<div class="col-2">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.date}}"
      placeholder="date"
      name="date"
    />
    <label for="floatingInput">Date</label>
  </div>
</div>
<div class="col-5">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.first_name}}"
      placeholder="First Name"
      name="first_name"
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-5">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.last_name}}"
      placeholder="Last Name"
      name="last_name"
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-2">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.genre}}"
      placeholder="Genre"
      name="genre"
    />
    <label for="floatingInput">Genre</label>
  </div>
</div>
<div class="col-8">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.passport_number}}"
      placeholder="Passport Number"
      name="passport_number"
    />
    <label for="floatingInput">Passport Number</label>
  </div>
</div>
<div class="col-2">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.birth_date}}"
      placeholder="Birth Date"
      name="birth_date"
    />
    <label for="floatingInput">Birth Date</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.address}}"
      placeholder="Address"
      name="address"
    />
    <label for="floatingInput">Address</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.city}}"
      placeholder="City"
      name="city"
    />
    <label for="floatingInput">City</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.phone}}"
      placeholder="Phone"
      name="phone"
    />
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      value="{{this.email}}"
      placeholder="email@email.com"
      name="email"
    />
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-2 d-grid m-auto">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>