<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
    <div class="row mb-5">
      <div class="col text-center">
        <h3>{{this.first_name}} {{this.last_name}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Genre</th>
              <th scope="col">Passport Number</th>
              <th scope="col">Birth Date</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{this.date}}</th>
              <td>{{this.first_name}}</td>
              <td>{{this.last_name}}</td>
              <td>{{this.genre}}</td>
              <td>{{this.passport_number}}</td>
              <td>{{this.birth_date}}</td>
              <td>{{this.address}}</td>
              <td>{{this.city}}</td>
              <td>{{this.phone}}</td>
              <td>{{this.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {{!-- <div class="row">
        <div class="col">
          <b>Comments</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{this.comments}}
        </div>
      </div> --}}
    </div>
  {{/each}}
</div>